<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>MyServletDemo1</servlet-name>
        <servlet-class>com.jiuyue.servlet.MyServlet</servlet-class>
        <!--WEB应用程序在启动时，就会装载并创建Servlet的实例对象、
        以及调用Servlet实例对象的init()方法。-->
        <!--<load-on-startup>1</load-on-startup>-->
        <init-param>
            <param-name>name</param-name>
            <param-value>jiuyue</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyServletDemo1</servlet-name>
        <url-pattern>/MyServletDemo1</url-pattern>
    </servlet-mapping>
    <!--通配映射-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>MyServletDemo1</servlet-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>